body{ 
	padding-top:52px;
	background-color:#033;
	color:#CCC;
}
	
			
.full-container {
	padding-left: 0px;
	padding-right: 0px;
	margin-left: auto;
	margin-right: auto;
}

h3{
	font-size: 30px;
	text-shadow: 1px 1px #000000;
}

.item-view{
	padding-top: 10px;
	padding-bottom: 10px;
	
}

.item-name{
	font-size: 17px;
	text-shadow: 2px 2px #000000;
}

.item-price{
	font-size: 14px;
	text-shadow: 2px 2px #000000;
}

.buy-item-btn{
	padding-left: 26px;
	padding-right: 26px;
	text-shadow: 1px 1px #000000;
	border: 1px solid #ffffff;
}

.remove-item-btn{
	text-shadow: 1px 1px #000000;
	border: 1px solid #ffffff;
}

.checkout-btn{
	font-size: 20px;
	text-shadow: 1px 1px #000000;
}



input[type=text],[type=password] {
	width: 97.7%;
	height: 34px;
	padding-left: 5px;
	margin-bottom: 20px;
	margin-top: 8px;
	box-shadow: 0 0 5px #00F5FF;
	border: 2px solid #00F5FF;
	color: #4f4f4f;
	font-size: 16px;
}

#done {
	font-size: 20px;
	margin-top: 15px;
	margin-bottom: 15px;
	background: linear-gradient(#22abe9 5%, #36caf0 100%);
	border: 1px solid #0F799E;
	padding: 7px 35px;
	color: white;
	text-shadow: 0px 1px 0px #13506D;
	font-weight: bold;
	border-radius: 2px;
	cursor: pointer;
	width: 100%;
}

#done:hover{
	background: linear-gradient(#36caf0 5%, #22abe9 100%);
}
		